<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDB"
			connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Studyspace\Công nghệ phần mềm\SourceCode QLTV\QuanLyThuVien\QuanLyThuVien.mdf;Integrated Security=True;User Instance=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>

